html {
  font-size: 100px;
}
body {
  font-size: .14rem;
  padding-top: .45rem;
  background-color: white;
}
* {
  margin: 0px;
  padding: 0px;
  /* 移动端一般会设置盒模型为border-box 防止边框和padding撑大盒子超出屏幕宽度出现滚动条 */
  box-sizing: border-box;
  /*移动端a标签按住的高亮背景色 设置透明即可*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
input {
  /* 去除输入框的内外边框 */
  border: 0;
  outline: 0;
}
img {
  border: none;
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
  position: relative;
}
#header {
  height: .45rem;
  width: 100%;
  background-color: #ff4e49;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}
#header .logo {
  padding-left: .2rem;
  line-height: .45rem;
  height: 100%;
  width: 58%;
}
#header .logo img {
  width: 100%;
}
#header .left {
  width: .45rem;
  height: .45rem;
  color: white;
  font-size: .3rem;
  text-align: center;
  line-height: .45rem;
}
#header h1 {
  margin: 0;
  height: .45rem;
  flex: 1;
  font-size: .2rem;
  line-height: .45rem;
  text-align: center;
  color: white;
  font-weight: normal;
}
#header .right {
  width: .45rem;
  height: .45rem;
  color: white;
  font-size: .2rem;
  text-align: center;
  line-height: .45rem;
}
#search {
  position: fixed;
  top: .45rem;
  left: 0;
  height: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 .1rem;
}
#search .search {
  text-indent: 20px;
  margin-bottom: 0;
  text-align: left;
  flex: 1;
  height: .3rem;
  background-color: #f1f1f1;
  border-radius: .15rem;
}
#search .btn-search {
  margin-left: 20px;
  width: .6rem;
  height: .3rem;
  border-radius: .15rem;
  background-color: #565656;
  color: white;
}
#footer {
  width: 100%;
  height: 1.2rem;
  background-color: #565656;
}
#footer .top {
  display: flex;
  border-bottom: 1px solid #727272;
}
#footer .top a {
  width: 33.33%;
  height: .3rem;
  line-height: .3rem;
  text-align: center;
  color: white;
  border-right: 1px solid #727272;
}
#footer .bottom {
  padding-top: .2rem;
  font-size: .12rem;
}
#footer .bottom .content {
  text-align: center;
}
#footer .bottom .content span {
  color: red;
}
#footer .bottom .url {
  text-align: center;
}
body {
  background-color: #f1f1f1;
}
#search {
  z-index: 2;
  background-color: #ffffff;
}
#main {
  padding-top: 0.5rem;
  box-sizing: border-box;
  height: auto;
}
#main .head {
  height: .35rem;
  background-color: #f7f7f7;
  color: #000000;
  font-size: .16rem;
  line-height: .35rem;
  padding-left: .15rem;
  box-sizing: border-box;
}
#main .tab .mui-segmented-control {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
#main .tab .mui-segmented-control .mui-control-item {
  color: #333;
  border-left: none;
}
#main .tab .mui-segmented-control .mui-control-item.mui-active {
  color: #fff;
  background-color: #232a34;
}
#main .content {
  width: 100%;
  margin-bottom: 20px;
}
#main .content [data-content="tab1"] {
  width: 100%;
}
#main .content [data-content="tab1"] > .brandranking-wrap {
  width: 100%;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell {
  height: .8rem;
  padding: .1rem;
  border-bottom: 1px solid #cccccc;
  width: 100%;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a > .brandranking-tag-wrap {
  width: 40px;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a > .brandranking-tag-wrap > .brandranking-tag {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #cccccc;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a > .brandranking {
  flex: 1;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a > .brandranking > .brandranking-title {
  font-size: 16px;
  color: #000;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a > .brandranking > .brandranking-label {
  font-size: 14px;
  padding-top: 10px;
  color: #bbbbbb;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a > .icon {
  width: .2rem;
  position: relative;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell > a > .icon > span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell:first-child .brandranking-tag {
  background-color: red !important;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell:nth-child(2) .brandranking-tag {
  background-color: #f9a83f !important;
}
#main .content [data-content="tab1"] > .brandranking-wrap > .brandranking-cell:nth-child(3) .brandranking-tag {
  background-color: #00d300 !important;
}
#main .content [data-content="tab2"] .mui-media-object {
  width: 1rem;
  max-width: 1rem;
}
#main .content [data-content="tab2"] .mui-media-object > img {
  width: 100%;
}
#main .content [data-content="tab2"] .title {
  font-size: 0.15rem;
  line-height: 0.2rem;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
#main .content [data-content="tab2"] .price {
  padding-top: 0.15rem;
  font-size: 0.2rem;
  color: #ff4300;
  position: relative;
}
#main .content [data-content="tab2"] .price > em {
  font-style: normal;
}
#main .content [data-content="tab2"] .price > .brandName {
  position: absolute;
  right: 0;
}
#main .content [data-content="tab2"] .other {
  padding-top: 0.1rem;
}
#main .content [data-content="tab2"] .other > span {
  color: gray;
}
#main .content [data-content="tab3"] ul {
  border: 1px solid #ccc;
}
#main .content [data-content="tab3"] ul li {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}
#main .content [data-content="tab3"] ul li .commentTitle {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  white-space: pre-wrap;
}
#main .content [data-content="tab3"] ul li .commentBox {
  padding: 5px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
#main .content [data-content="tab3"] ul li .commentBox .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .content [data-content="tab3"] ul li .commentBox .name .star img {
  width: 20px;
  height: 20px;
}
#main .content [data-content="tab3"] ul li .commentBox .content {
  color: black;
  white-space: pre-wrap;
}
#main .content [data-content="tab3"] ul li .commentBox .from {
  color: red;
}
#main .content [data-content="tab3"] ul li .commentBox::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: 29px;
  top: -8px;
  border-bottom: 8px solid #ccc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
